@use "./styles/button.scss";


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html , body , #root{
    width:100%;
    background-color:#161616;
}
body{
    color:white;
    font-family: sans-serif;
    // font-size:30px;
    font-weight:600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlight{
    color: #d20d3b;
}